:root {

--black: #140f0e;
--primary:#2a2b56;
--secondary:#635daa;
--violetClair: #b096fa;
--pinkClair: #ffddf4;
--white: #FFFFFF;

--fuenteHeading: "PT Sans", sans-serif;

}

/* * {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(234, 234, 234);
  } */
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

  body {
    font-family: var(--fuenteHeading);
    font-size: 1.6rem;
    line-height: 2;

    background-image: url("D:\Curso_de_React\React\04-gif-expert-app\src\images\space.jpg");

    /* background: rgb(22,16,14);
    background: linear-gradient(180deg, rgba(22,16,14,0.8606793059020483) 35%, rgba(63,42,86,0.7290266448376226) 100%); */
  }

  @media (min-width: 768px) {
    body.body-scroll {
      padding-top: 120px;
    } 
  }

  *, *:before, *:after { /*Arregla el padding para que no agregue más tamaño al bloque*/
    box-sizing: inherit;
  }
  
  .contenedor {

    width: min(90%, 120rem); /*Instrucción para resumir*/
    margin: 0 auto;

  }

  /*Formulario*/

  input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
  }

  .input__form--centrar {

    display: flex;
    justify-content: center;

  }

  .input {
    /* margin-top: 2rem; */
    background-color: var(--secondary);
    padding-bottom: 2rem;
    border-end-start-radius: 1rem;
    border-end-end-radius: 1rem;
    margin-bottom: 1rem;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .input__title {

    display: flex;
    background-color: var(--pinkClair);
    padding: 1rem;
    justify-content: center;
    margin-bottom: 2rem;


    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .input__title img {

      width: 3rem;

  }

  .input__title h2 {

      text-transform: uppercase;
      color: var(--black);

  }

  .input__busqueda {

    display: flex;
    flex-direction: column;

  }
   
  .input__busqueda--2 {
  
    width: 6rem;
    margin: 0 auto;
    margin-top: 0.5rem;

  }

  @media (min-width: 480px) {
   
    .input__busqueda {

      display: flex;
      flex-direction: row;
  
    }
  
    .input__busqueda--2 {
  
      width: 6rem;
      margin-left: 1rem; 
      margin-top: 0;
  
    }


  }


 
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 3rem;
    margin-bottom: 5px;
    text-align: center;
  }

  img {
    max-width: 100%;
  }

  /*Header*/

  .contenido-header {
    padding-top: 2rem;

    display: flex;
    /* background-color: var(--primary); */
    flex-direction: column;
    align-items: center;
  }

  .contenido-header h1 {
    color: var(--white);
    background-color: var(--secondary);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
  }

  .contenido-header img{
      width: 20rem;
      border: 2px solid var(--black);
      border-radius: 1rem;
  }

  /* @media (min-width: 1050px) {
      .contenido-header img {
        max-width: 10%;
      }
  } */

  @media (min-width: 768px) {
      
    .card-grid {
      /* display: flex;
      flex-direction: row;
      flex-wrap: wrap; */
  
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
      justify-content: center; 
      place-items: normal;
  
    }

  }

  
  .sombra {

    box-shadow: 0px 5px 15px 1px rgb(0 0 0 / 48%);
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;

  }

  .sombra h3 {

    margin: 0;
    text-transform: uppercase;
    color: var(--black);

  }

  .card {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    /* height: 0%;   */
    justify-content: center;
    /* overflow: hidden; */
  }
  
  .card p {
    background-color: white;
    flex: 1;
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }

  /*Labels*/

  .historial {

    display: flex;
    margin: 3rem 7rem;
    justify-content: center;
    flex-wrap: wrap;

  }

  @media (min-width: 768px) {
 
    .historial.fijo {
      position: fixed;
      left: 0;
      top: 0;
      width: 90%;
      box-shadow: 0.1rem 0.2rem 0.1rem #333;
    }

  }



  .historial--redondear {

    display: inline;
    padding: 0.3rem 1.4rem;
    /* border: 2px solid var(--black); */
    border-radius: 1rem; 
    box-shadow: -2px 3px 4px 0px rgba(0,0,0,0.8);
    background-color: rgba(56, 56, 209, 0.808);
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  .contenido-label {
    display: inline-flex;
  }

  .contenido-label p {

    margin: 0;
    text-transform: uppercase;
    font-size: 1.7rem;
    color: var(--white);
  }

  .contenido-label p:hover {
    cursor: pointer;
    color: rgba(211, 211, 14, 0.845);
    font-weight: bold;
  }

  .contenido-label img {

    margin-left: 1.5rem;
    width: 1.3rem;

  }

  .contenido-label img {

    margin-left: 1.5rem;
    width: 1.5rem;
    filter: invert(100%);
  }

  .contenido-label img:hover {

    width: 1.9rem;
    cursor: pointer;

  }

  /*Header Gifs*/


  .button {
    display: block; 
  }

  .gifs__cabecera button {

    margin: 2rem auto;
    width: 100%; 

  }

  @media (min-width: 480px) {
    .gifs__cabecera {
      display: flex;
      place-content: center;
      margin-bottom: 2rem;
      justify-content: space-between;
    }

    .gifs__cabecera button {
      margin: 0;
      width: auto;
    }
   
  }



  .button {

    padding: 1rem 5rem;
    border-radius: 1rem;
    font-size: 2rem;
    text-transform: uppercase;

  }

  .button:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: white;
  }

  .button-red {
    
    background-color: rgba(210, 20, 20, 0.804);
    
  }

  .button-green {
    
    background-color: rgba(10, 116, 10, 0.736);
    
  }

  /*Instrucciones*/

  .instrucciones {
    background-color: var(--violetClair);
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid var(--white);
    margin-bottom: 3rem;
  }

  .instrucciones__titulo {
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
  }

  .instrucciones p {
    color: white;
  }

  .instrucciones p span {
    color: rgba(251, 251, 12, 0.819);
    font-size: 2rem;
    font-weight: bold;
  }

  .instrucciones li {
    
    color: white;
    font-size: 1.7rem;
  }

  /* Footer */

  .footer {
    padding: 0.1rem;
    background-color: var(--black);
    text-align: center;
    margin-top: 10rem;
    color: var(--white);
  }